.card {
  background-color: white;
  color: black;
  flex-grow: 1;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

.price {
  font-weight: 800;
}

.price::before {
  content: "$";
  /* font-size: 0.8rem; */
  font-weight: normal;
}

.title {
  font-weight: 500;
}

.card > img {
  max-height: 14rem;
}

.add-to-cart {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #f0c24c;
  border: 1px solid black;
  cursor: pointer;
}

.add-to-cart:active {
  background-color: hsl(43, 85%, 82%);
}

.rating {
  display: flex;
  flex-direction: row;
}
